<header class="fixed-header">
  <button [routerLink]="'/userupdate'" class="btn">
    <img src="../../assets/Images/arrow_back.png" alt="" />
  </button>
  <h3>Payment</h3>
</header>

<div class="container" id="addpayment">
<body>
    <button routerLink="'/paymentmethod'" class="btn">
    <img src="../../assets/Images/Button-dark.png" al=""/>
    </button>
   
</body>
</div>



<!-- <button [routerLink]="'/insuranceform'" class="btn">
  <img src="../../assets/Images/payment.png" alt="" />
</button> -->

<button type="button"[routerLink]="'/success'" id="mybutton" class="btn btn-primary">Complete Payment</button>