<header class="fixed-header">
  <div class="swiper">
    <button [routerLink]="'/insuranceform'" class="btn">
      <img src="../../assets/Images/arrow_back.png" alt="" />
    </button>
    <p>Just a few more questions...</p>
  </div>
</header>

 <mat-form-field appearance="outline">
  <mat-label> First Name</mat-label>
  <input
    matInput placeholder="Should atleast 4char long" ngModel pattern="[a-zA-Z ]*" required type="text"/>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label> Last Name</mat-label>
  <input matInput placeholder="Should atleast 4char long"  ngModel pattern="[a-zA-Z ]*" required type="text"/>
</mat-form-field>

<mat-form-field appearance="outline">
  <input matInput placeholder="Mobile Number"  required type="text"/>
</mat-form-field>

<mat-form-field appearance="outline" style="height: 150px">
  <mat-label> Address</mat-label>

  <input matInput placeholder="Enter the complete address" formcontrolName="address" ngModel pattern="[a-zA-Z ]*" required type="text"/>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Address Type</mat-label>
  <mat-select>
    <mat-option value="one"></mat-option>
    <mat-option value="two"></mat-option>
  </mat-select>
</mat-form-field>

<button type="button" [routerLink]="'/paymentform'" id="mybutton" class="btn btn-primary">Next</button> 